 *{
 	font-family: "Comic Sans MS";
 }
#main_content {
	background-image:url("./EventBored_Background.png");
}
 .container {
 	display: flex;
 	justify-content: flex-start;
 	flex-direction: column;
 	margin-right: 450px;
 	margin-left: 50px;
 	margin-top: 20px;
 	margin-bottom: 10px;
 	border: 5px solid black;
 }

 .Box {
 	display: flex;
 	justify-content: flex-start;
 	flex-direction: column;
 	margin-right: 50px;
 	margin-left: 1150px;
 	margin-top: 20px;
 	margin-bottom: 10px;
 	border: 3px	solid black;
 }

form { 
	background-color: white; 
 }
