
<!Doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>EventBored: About Us</title>
      <!-- Link to stylesheet -->
      <link href="./styles.css" rel="stylesheet">
    </head>
  <body>
     <a href="./index.html">
      <img src="./EventBored_Title.png">
    </a>
    <div class="Box">
       <div class="nav_bar">
        <ul>
          <li><a href="./about_us.html">About Us</a></li>
          <li><a href="./contact_page.html">Contact Us</a> </li>
        </ul>
      </div>
    </div>
    <div class="Margin-Fix">
      <h1>About Us</h1>
      <h2>Mission Statement</h2>
      <p class="container">
         We are a group of young adults who wanted to give the residents of Richmond a place where they can connect with others and help their community. Our goal for our users is to create a collaborative community of citizens who help promote, organize and include other like-minded people to come together and make our city a safe and open environment that fosters creativity and ingenuity.
      </p>
      <h2>Meet The Team</h2>
      <h3>Nikko Echevarria: Lead Designer</h3>
<p class="container">I am a resident who has been living in the area for over ten years. I moved from San Francisco when I was five and have enjoyed everything I’ve achieved here since then. My time in Richmond has shown me all the great things this city has to offer, but social stigmas suppress those good qualities entirely. As the lead designer for this website, I wanted to design something that was easy to use, interactive and could connect you to other citizens who have the same views as I have.</p>

<h3>Kenneth Santa Cruz: Lead Software Engineer</h3>
 <p class="container">I am a rising freshman at UC Santa Cruz majoring in Computer science (Go Banana Slugs!). I have been born and raised in the Bay Area my whole life, specifically in Richmond. Therefore I for one have seen the true beauty of Richmond and what it truly is, the city of pride and purpose. As the lead software engineer for this project I made sure the bases for the code of the website were there and focused on little details of the website to make sure it is easy to use as possible.
 </p>
<h3>Moises Limon: Project Manager</h3>
<p class="container">I am a rising freshman at UC Merced majoring in Computer Science & Engineering (Go Bobcats!).I have a passion for understanding how things works and learning new things. As the project manager, I was the visionary that directed the team throughout the development of EventBored. I have been raised in Richmond my whole life and I hope to find ways to continue to serve the larger community and this website is the first step towards that.
</p>
  </div>
  </body>
</html>
